form {
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #E6FFF6;
    width: 20rem;
    height: 20rem;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    width: 10rem;
    padding: 0.3rem;
    text-align: center;
    font-size: 18px;  
}

input {
    display: block;
    width: 10rem;
    height: 1.5rem;
    border-radius: 10%;
    background-color: #DEF7EE;
    border: none;
    border-bottom: 2px solid #6E8E95;
}

input:focus {
    background-color: #C8FCEA;
    outline: none;
}

label{
    color: #2F4858;
}

button {
    display: block;
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 10%;
    background-color: #BBD8D4;
    border: none;
    color: #2F4858;
    box-shadow: 0px 3px 5px #93B2B4;
}
button:hover {
    background-color: #C8FCEA;
    box-shadow: 0px 0px 5px #93B2B4;
}


